:root {
    --primary-color: rebeccapurple;
    --base-size: 20rem;
    --easing: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.badge {
    display: block;
    position:absolute; 
    top: 20px; 
    right: -200px; 
    width: var(--base-size);
    height: var(--base-size);
    cursor: pointer;
    background: url('https://source.unsplash.com/random/1000x1000') no-repeat 100% 50%;
    background-size: 120%;
    border-radius: 50%;
    transition: var(--easing);
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .75);
    z-index: 1; /* Asegurarse de que esté encima de la imagen */
}

.badge:hover {
    box-shadow: 0px .5rem 2rem rgba(0, 0, 0, .75);
    background-position: 0% 50%;
}

.badge .text {
    display: block;
    position: absolute;
    width: calc(var(--base-size) / 2);
    height: calc(var(--base-size) / 2);
    line-height: calc(var(--base-size) / 2);
    left: 50%;
    top: 50%;
    margin-top: calc(-1 * (var(--base-size) / 4));
    margin-left: calc(-1 * (var(--base-size) / 4));
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: var(--primary-color);
    transform: rotate(-180deg) translate(calc(-1 * (var(--base-size) / 2))) rotate(180deg);
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, .5);
    transition: var(--easing);
}

.badge:hover .text {
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(128, 0, 128, 0.5);
    width: var(--base-size);
    letter-spacing: 1rem;
    line-height: var(--base-size);
    height: var(--base-size);
    margin-top: calc(-1 * (var(--base-size) / 2));
    margin-left: calc(-1 * (var(--base-size) / 2));
    transition: var(--easing), letter-spacing 1.5s ease-out;
}
