.container-main {
    display: flex;
    margin-left: 80px;
    margin-right: 50px;
}

.container-text {
    position: relative;
    margin-left: 80px;
    margin-top: 50px;
    width: 40vw;
    height: 90vh;
    background-image: url('../assets/imgPareja.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

p {
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin: 20px;
    color: #fff;
}

.container-title {
    margin-top: 15rem;
    margin-left: 20rem;
}

.container-title, h1 {
    font-weight: 100;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.btn-goo, .btn-face {
    border: solid 1px;
    width: 11rem;
    height: 2rem;
    border-radius: 5px;
    border-color: #35155D;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-goo:hover {
    background-color: #fce8e6;
}

.btn-face:hover {
    background-color: #e9ebee;
}

.icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.container-line {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-line, h6 {
    font-weight: 100;
    font-size: 1rem;
}

.line1, .line2 {
    border: solid 0.1px;
    width: 5rem;
}


.container-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(105, 55, 155, 0.2); 
    border-radius: 10px; 
}

.input {
    height: 35px;
    border-radius: 5px;
    border: solid 1px #35155D;
    padding-left: 5px;
}

.remember {
    font-size: 15px;
}

.remember-me {
    margin-right: 5px;
}

.forgot {
    font-size: 14px;
    text-decoration: none;
    color: grey;
}

.btn-login {
    padding: 7px;
    text-decoration: none;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #35155D;
    color: #fff;
    font-size: 1rem;
}

.container-remember {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

/* Responsivo */
@media (max-width: 768px) {
    .container-text {
        display: none;
    }

    .container-title {
        padding-top: 5rem;
        margin: 0;
        text-align: center;
    }

    .container-title h1 {
        font-weight: 100;
        margin-bottom: 1rem;
        font-size: 30px;
    }

    .buttons {
        justify-content: center;
    }

    .btn-goo, .btn-face {
        width: 9rem;
    }

    .line1, .line2 {
        border: solid 0.1px;
        width: 4rem;
    }

    .container-main {
        justify-content: center;
        margin: 0;
    }
}
@import url('https://fonts.googleapis.com/css?family=Raleway:300');


