.main-container {
  display: flex;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 250px); /* Elimina el espacio del sidebar */
  position: relative;
}

.card {
  position: absolute;
  width: 30rem;
  height: 40rem;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 100px;
  left: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.swipe-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.swipe-left, .swipe-right {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.swipe-left {
  color: red;
}

.swipe-right {
  color: green;
}
