.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vw;
    background-color: #ffcdd2;
    box-shadow: 0px 2px 4px rgba(23, 23, 23, 0.16);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 3.5vh;
    cursor: pointer;
}

.but {
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.btn-log,
.btn-reg {
    text-decoration: none;
    padding: 1vh 2vw;
    border: solid 2px #ff4081;
    border-radius: 50px;
    color: #ff4081;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-log:hover,
.btn-reg:hover {
    background-color: #ff4081;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 4px 12px rgba(255, 64, 129, 0.4);
}

@media (max-width: 768px) {
    .nav {
        padding: 1vh 4vw;
    }

    .btn-reg {
        display: none;
    }

    .btn-log{
        padding: 1vh 5vw;
    }
}