.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: rgba(105, 55, 155, 0.2); 
    width: 100%; 
    box-sizing: border-box; 
}


.logo {
    height: 40px;
}


.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle svg {
    width: 24px;
    height: 24px;
    color: #35155D;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul {
    list-style: none; 
}

.nav-links .link {
    text-decoration: none; 
    color: inherit;
}

.nav-links .link:hover {
    text-decoration: underline;
}

.but {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.btn-log, .btn-reg {
    text-decoration: none;
    border: solid 1px #35155D;
    width: 6rem;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.btn-log:hover, .btn-reg:hover {
    background-color: #35155D;
    color: #fff;
}


@media (max-width: 768px) {
    .nav{
        justify-content: center;

    }
    .but {
        display: none;
    }

}
